.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #f8c890, #F7F7F7,#f8c890);
}

.box input{
    display: none;
}

.sombra{
    width: 500px;
    border: 0;
    box-shadow: 0 0 50px 15px rgba(0,0,0,0.3);
    border-radius: 50%;
    margin: 0 auto;
  }

  .box input:checked + label > img {
    border: none;  
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  .box img{
    cursor: pointer;
  }